
.box{
   margin-left: 12px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
  border-radius: 30px;
    width: 300px;
    height:450px;
    margin: 15px;
    box-shadow: 5px 10px 18px #888888;

}
 .bi-bag{
  font-size: 2.4em;
  cursor: pointer;
}
.bi-cart{
 font-size: 2.4em;
 cursor: pointer;
}
 .card-title{
    color: black;
    font-size: 1.6em;
font-family: gotham ;
font-weight: bold;


}
/* card desc and button  */

.card-content{

  margin: 10px;



}

.button1 {

  margin-top: -50px;
  margin-right: 20px;
  margin-left: 135px;

}


.card-image{


margin-left: 60px;
display:contents;

}
.cart{
    margin-right: 20px;

    margin-top:40px;

}
.collection {
 background-color:white;
  margin-top: 10px;
box-shadow: 5px 10px 18px #888888;
  width:100%;

}

.collection-item{
    display:  inline-flex;

    margin:20px;

}
.collection-item.avatar .title {
    font-size: 30px;
    font-weight: 500;
    font-family: gotham;

    display: block;
    margin-bottom: 20px;
}
.collection-item img{
    width: 160px;

    margin-right: 25px;
}
.item-desc{

}
.rating{
  color: yellow;
}

/** item counter */
#itemCount {
  position: absolute;
  display: none;
  top: 2px;
  right: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: red;
  color: white;
  text-align: center;
}

div.default.tabs ul.child:first-child li.child.active::after 
{   
display: block;
position: absolute;
left: 20px;
top: 10.5px;
content: "✔";
font-size:xx-large;
width: 20px;
height: 20px;
line-height: 22px;
text-align: center;
color:#9CD106;
font-weight: normal;
}
.tabs{
  display: block;
  content: "✔";
  left: 20px;
top: 10.5px;
height: 20px;
line-height: 22px;
  color:#9CD106;
}

.foodname {

}

.Price{

}

.Quantity{
  
}